body{
    background-color: #141414;
 }
 
 h1{
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: #ff0000;
 }
 .c{
     text-align: center;
 }
 .link-btn{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: #ff0000;

 }
 .h1{
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #ff0000;
  }
  .para{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

  }
  a:hover,
a:focus{
outline: none;
color: #000;
}
a:first-of-type{
    margin-top: 3rem;
}
a + a {
    margin-top: 1.125rem;
}
      
 